.btn-float{
	position: absolute;
    top: 10px;
    right: 45px;
    font-size: 12px;
    line-height: 12px;
    vertical-align: center;
    text-align: center;
    padding: 2px 4px;
    color: #999;
    background: #444;
    border-color: #444;
    border-radius: 9px;
    z-index: 10;
    opacity: 0.5;
	filter: alpha(opacity=50);
    transition: all 1s;
    -moz-transition:  all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
.btn-float .copy{
    font-size: 18px;
}
.btn-float i{
    margin-top: -1px;
    margin-left: 1px;
}
.btn-float i.rotateY{
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}
.btn-float:focus,
.btn-float:hover{
	color: #fff;
	background: #999;
    border-color: #999;
	opacity: 1;
	filter: alpha(opacity=100);
	padding: 6px 12px;
	border-radius: 13px;
}
.undo{
    top: 0;
    right: 150px;
}
.redo{
    top: 0;
    right: 100px;  
}
.copy-code{
    top: 0;
    right: 50px;  
}
code{
    display: inline-block;
    width: 100%;
    min-height: 40px;
    background-color: #272822;
    color: #f4f926;
    padding: 10px;
}
.copy{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../images/copy.png) no-repeat center center;
}
#info p {
    color: #eee;
    padding: 0;
    margin-top: 10px;
}
.scrollTo + .scrollTo {
    margin-top: 0;
}
.scrollTo {
    min-height: 210px;
    padding: 0 20px;
    background: transparent;
}
.scrollTo-demo .demo-y {
    width: 20%;
    height: 290px;
}
.scrollTo-demo .demo-x {
    width: 35%;
}
.scrollTo-demo .demo-yx {
    width: 40%;
}

.scrollTo-demo .btn-y {
    width: 20%;
}
.scrollTo-demo .btn-x {
    width: 35%;
}
.scrollTo-demo .btn-yx {
    width: 40%;
}

.btn-l{
    font-size: 12px;
}
.scrollTo ul li a {
    padding: 2px 8px;
    color: #aaa;
}
.scrollTo ul li span{
    font-weight: 600;
    color: #EEE;
}
.scrollTo ul li:first-child span {
    padding: 2px 8px;
}
.btn-l:focus, .btn-l:hover {
    color: #FF0;
    outline: 0;
}

@media (max-width: 1300px){
    .scrollTo-demo .demo-y {
        width: 20%;
    }
    .scrollTo-demo .demo-x {
        width: 34%;
    }
    .scrollTo-demo .demo-yx {
        width: 40%;
    }
}
@media (max-width: 1100px){
    .scrollTo-demo .demo-y {
        width: 20%;
    }
    .scrollTo-demo .demo-x {
        width: 34%;
    }
    .scrollTo-demo .demo-yx {
        width: 39%;
    }
}
@media (max-width: 960px){
    .scrollTo-demo .demo-y {
        width: 20%;
    }
    .scrollTo-demo .demo-x {
        width: 34%;
    }
    .scrollTo-demo .demo-yx {
        width: 38%;
    }
}
@media (max-width: 850px){
    .scrollTo-demo .demo-y {
        width: 19%;
    }
    .scrollTo-demo .demo-x {
        width: 34%;
    }
    .scrollTo-demo .demo-yx {
        width: 38%;
    }
}
@media (max-width: 768px){
    .scrollTo-demo .demo-y {
        width: 100%;
    }
    .scrollTo-demo .demo-x {
        width: 100%;
    }
    .scrollTo-demo .demo-yx {
        width: 100%;
    }
}

.snap-scrolling-example .content {
    height: 220px;
    width: 853px;
}
#infinite-scroll .offset .indicator {
    background: #ffed0d url(../../images/loading.gif) no-repeat center center;
}
.init-hidden .view-section {
    min-height: 420px;
}

.view-section {
    background-color: #191919;
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
    margin: 10px 0;
    overflow: hidden;
}
.callbacks + p span {
    padding: 8px 15px;
}
.h445{
    height: 445px;
}
.h510{
    height: 510px;
}
.h445 .CodeMirror{
    height: 425px;
}
.h510 .CodeMirror{
    height: 490px;
}



