<style>
	code {
		display: inline;
	}
</style>
<div class="header" ng-controller='NavController' ng-init="init()" ng-include="'views/header.html'"></div>
<div class="container-fluid" ng-init="init()">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 demo-content">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<section id="info">
						<div class="callbacks">
							<ul>
								<li id="onScrollStart"><a href="#"><span></span> onScrollStart</a></li>
								<li id="onScroll"><a href="#"><span></span> onScroll</a></li>
								<li id="onTotalScroll"><a href="#"><span></span> onTotalScroll</a></li>
								<li id="onTotalScrollBack"><a href="#"><span></span> onTotalScrollBack</a></li>
								<li id="whileScrolling"><a href="#"><span></span> whileScrolling</a></li>
								<li id="alwaysTriggerOffsets" class="off"><a href="#"><span></span> always trigger offsets</a></li>
							</ul>
						</div>
						<p>
							<span>Content position (<code>this.mcs.top</code>): <span id="mcs-top"></span></span>
							<span>Dragger position (<code>this.mcs.draggerTop</code>): <span id="mcs-dragger-top"></span></span>
							<span>Scroll percentage (<code>this.mcs.topPct</code>): <span id="mcs-top-pct"></span></span>
							<span>Scroll direction (<code>this.mcs.direction</code>): <span id="mcs-direction"></span></span>
							<span>Total scroll offset (bottom yellow dash): <span id="mcs-total-scroll-offset"></span></span>
							<span>Total scroll back offset (top yellow dash): <span id="mcs-total-scroll-back-offset"></span></span>
						</p>
					</section>
					<section id="examples">
						<!-- content -->
						<div id="callbacks-demo" class="content">
							<h2>Callbacks demo</h2>
							<hr />
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
							<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
							<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<hr />
							<p>End content.</p>
							<div class="callback-offset-back"></div>
							<div class="callback-offset"></div>
						</div>
						
					</section>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3 class="page-header">代码如下：</h3>
					<p>&nbsp;</p>
			    	<div class="demo-item h510">
			    		<a role="button" title="复制" class="btn btn-default btn-float" ng-click="copy('callback')"><span class="copy"></span></a>
			    		<form>
				    		<textarea id="callcode" name="callcode" style="display: none;">
(function($){
	$(window).on("load",function(){
		
		$(".content").mCustomScrollbar({
			scrollButtons:{
				enable:true
			},
			callbacks:{
				onScrollStart:function(){ myCallback(this,"#onScrollStart") },
				onScroll:function(){ myCallback(this,"#onScroll") },
				onTotalScroll:function(){ myCallback(this,"#onTotalScroll") },
				onTotalScrollOffset:60,
				onTotalScrollBack:function(){ myCallback(this,"#onTotalScrollBack") },
				onTotalScrollBackOffset:50,
				whileScrolling:function(){ 
					myCallback(this,"#whileScrolling"); 
					$("#mcs-top").text(this.mcs.top);
					$("#mcs-dragger-top").text(this.mcs.draggerTop);
					$("#mcs-top-pct").text(this.mcs.topPct+"%");
					$("#mcs-direction").text(this.mcs.direction);
					$("#mcs-total-scroll-offset").text("60");
					$("#mcs-total-scroll-back-offset").text("50");
				},
				alwaysTriggerOffsets:false
			}
		});
		
		function myCallback(el,id){
			if($(id).css("opacity")<1){return;}
			var span=$(id).find("span");
			clearTimeout(timeout);
			span.addClass("on");
			var timeout=setTimeout(function(){span.removeClass("on")},350);
		}
		
		$(".callbacks a").click(function(e){
			e.preventDefault();
			$(this).parent().toggleClass("off");
			if($(e.target).parent().attr("id")==="alwaysTriggerOffsets"){
				var opts=$(".content").data("mCS").opt;
				if(opts.callbacks.alwaysTriggerOffsets){
					opts.callbacks.alwaysTriggerOffsets=false;
				}else{
					opts.callbacks.alwaysTriggerOffsets=true;
				}
			}
		});
		
	});
})(jQuery);
							</textarea>
						</form>
			    	</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<section id="ex">
					<!-- content -->
					<div id="infinite-scroll" class="content">
						<h2>Scroll to bottom to load additional content</h2>
						<hr />
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
						<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p> 
						<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
						<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
						<hr />
						<p>End content.</p>
						<div class="offset">
							<p>&darr; Yellow box below indicates the total scroll offset area</p>
							<div class="indicator"></div>
						</div>
					</div>
					
				</section>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h3 class="page-header">代码如下：</h3>
		    	<div class="demo-item">
		    		<a role="button" title="复制" class="btn btn-default btn-float" ng-click="copy('add')"><span class="copy"></span></a>
		    		<form>
			    		<textarea id="addcode" name="addcode" style="display: none;">
(function($){
	$(window).on("load",function(){
		
		$(".content").mCustomScrollbar({
			theme:"light-2",
			scrollButtons:{
				enable:true
			},
			callbacks:{
				onTotalScroll:function(){ addContent(this) },
				onTotalScrollOffset:100,
				alwaysTriggerOffsets:false
			}
		});
		
		function addContent(el){
			var c="<h2>Appended content</h2>";
			for(var i=0; i<3; i++){
				c+="<p>"+el.mcs.content.find("p:eq("+i+")").html()+"</p>";
			}
			c+="<p>End of appended content.</p>";
			el.mcs.content.append(c);
			$(".offset").appendTo(el.mcs.content);
		}
		
	});
})(jQuery);
						</textarea>
					</form>
		    	</div>
			</div>
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div id="init-hidden-demo" class="transitions init-hidden">
					<section class="operate">
						<div class="show-hide">
							<ul>
								<li><h3>操作按钮：</h3></li>
								<li><a role="button" class="btn btn-link btn-l" href="#" rel="toggle-display">显示/隐藏（CSS实现）</a></li>
								<li><a role="button" class="btn btn-link btn-l" href="#" rel="toggle-height">高度切换(CSS3过渡 transition)</a></li>
								<li><a role="button" class="btn btn-link btn-l" href="#" rel="toggle-width">宽度切换(CSS3过渡 transition)</a></li>
								<li><a role="button" class="btn btn-link btn-l" href="#" rel="toggle">显示/隐藏 (jQuery)</a></li>
								<li><a role="button" class="btn btn-link btn-l" href="#" rel="toggle-fade">淡入/淡出 (jQuery)</a></li>
								<li><a role="button" class="btn btn-link btn-l" href="#" rel="toggle-slide">滑入/滑出 (jQuery)</a></li>
							</ul>
						</div>
					</section>
					<section class="view-section">
						<!-- content -->
						<div class="content hidden" id="hidden-demo">
							<h2>Demo</h2>
							<hr />
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
							<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p> 
							<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p> 
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
							<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p> 
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
							<hr />
							<p>End of content.</p>
						</div>
						
					</section>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3 class="page-header">代码如下：</h3>
		    	<div class="demo-item h445">
		    		<a role="button" title="复制" class="btn btn-default btn-float" ng-click="copy('display')"><span class="copy"></span></a>
		    		<form>
			    		<textarea id="displaycode" name="displaycode" style="display: none;">
(function($){
	$(window).on("load",function(){
		
		$(".content").mCustomScrollbar();
		
		$(".show-hide a").click(function(e){
			e.preventDefault();
			var $this=$(this),
				rel=$this.attr("rel"),
				el=$(".content"),
				wrapper=$("#demo"),
				dur=700;
			switch(rel){
				case "toggle-display":
					if(!el.is(":visible")){
						el.css("display","block");
					}else{
						el.css("display","none");
					}
					break;
				case "toggle-height":
					if(el.is(":visible")){el.toggleClass("zero-height");}
					break;
				case "toggle-width":
					if(el.is(":visible")){el.toggleClass("zero-width");}
					break;
				case "toggle":
					if(!el.is(":animated")){
						wrapper.removeClass("transitions");
						el.toggle(dur,function(){wrapper.addClass("transitions");});
					}
					break;
				case "toggle-fade":
					if(!el.is(":animated")){
						wrapper.removeClass("transitions");
						el.fadeToggle(dur,function(){wrapper.addClass("transitions");});
					}
					break;
				case "toggle-slide":
					if(!el.is(":animated")){
						wrapper.removeClass("transitions");
						el.slideToggle(dur,function(){wrapper.addClass("transitions");});
					}
					break;
			}
		});
		
	});
})(jQuery);
						</textarea>
					</form>
		    	</div>
			</div>
	    </div>
	</div>
</div>
<div class="footer" ng-include="'views/footer.html'"></div>
