<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">导航</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://manos.malihu.gr/jquery-custom-content-scroller/" target="_blank">mCustomScrollbar</a>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
              <li ng-class="{'active':pathStr.indexOf('property')>-1}" ><a href="#/property">在线编辑</a></li>
              <li ng-class="{'active':pathStr.indexOf('theme')>-1}" ><a href="#/theme">主题示例</a></li>
              
              <li ng-class="{'active':pathStr.indexOf('function')>-1}" ><a href="#/function">方法示例1</a></li>
              <li ng-class="{'active':pathStr.indexOf('func-ex')>-1}" ><a href="#/func-ex">方法示例2</a></li>
              <li ng-class="{'active':pathStr.indexOf('combination')>-1}" ><a href="#/combination">组合示例</a></li>
              <li ng-class="{'active':pathStr.indexOf('other')>-1}" ><a href="#/other">其他示例</a></li>
              <li ng-class="{'active':pathStr.indexOf('about')>-1}"><a ng-href="#/about">关于插件</a></li>
              
          </ul>
        </div>
    </div>
  </div>